{% extends 'base.jinja' %}

{% block content %}
<style>
    #message_box {
        border: 1px solid black; 
        height: 400px; 
        width: 800px; 
        overflow: auto;
        padding: 2px;
    }
</style>

<nav>
    <p>Chat with {{ friend_username }}</p>
</nav>

<section id="message_box"></section>

<section id="input_box">
    <input id="message" placeholder="Type your message...">
    <button onclick="sendMessage()">Send</button>
</section>

<script src="/static/js/libs/socket.io.min.js"></script>
<script>
    let friendUsername = "{{ friend_username }}";
    const socket = io();
    
    socket.on('connect', () => {
        socket.emit('join_room', {sender: '{{ username }}', receiver: friendUsername});
    });

    socket.on('message', (msg) => {
        $('#message_box').append(`<p>${msg}</p>`);
    });

    function sendMessage() {
        let message = $('#message').val();
        socket.emit('send_message', {message: message, receiver: friendUsername});
        $('#message').val('');
    }
</script>
{% endblock %}
