{% extends 'base.jinja' %}

{% block content %}
<style>
    nav {
        border-bottom: 1px solid black;
        overflow: auto;
    }
</style>

<!-- Navbar, displaying the username and logout button -->
<nav>
    <ol style="float: right">
        <li style="display:inline-block">Username: {{ username|escape }}</li>
        <li style="display:inline-block"><button onclick="logout()">Logout</button></li>
    </ol>
</nav>

<h1>User Management</h1>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Online Status</th>
            <th>Muted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr id="user-{{ user.username }}">
            <td>{{ user.username|escape }}</td>
            <td>{{ user.role|escape }}</td>
            <td>{{ user.online_status }}</td>
            <td>{{ user.ismuted }}</td>
            <td>
                <button onclick="toggleMute('{{ user.username|escape }}', {{ 'true' if user.ismuted else 'false' }})">
                    {% if user.ismuted %}
                        Unmute
                    {% else %}
                        Mute
                    {% endif %}
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/libs/js.cookie.min.js"></script>
<script>
function toggleMute(username, isMuted) {
    let sessionKey = "{{ sessionKey }}";
    let action = isMuted ? "unmute_user" : "mute_user";
    
    console.log(`Action: ${action}, Target User: ${username}`);

    $.ajax({
        url: `/${action}`,
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({ username: "{{ username|escape }}", targetUser: username, sessionKey: sessionKey }),
        success: function(response) {
            console.log("Success:", response);
            alert(response.message);
            location.reload();  // Reload the page to reflect changes
        },
        error: function(xhr, status, error) {
            console.log("Error:", xhr, status, error);
            alert("Error processing request.");
        }
    });
}

function logout() {
    const username = "{{ username|escape }}";
    const data = { username: username };
    
    fetch('/logout', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    }).then(response => {
        if (response.ok) {
            Cookies.remove("username");
            sessionStorage.removeItem('sessionKey');
            window.location.href = "{{ url_for('login') }}";
        } else {
            alert('Logout failed');
        }
    }).catch(error => {
        console.error('Error:', error);
        alert('Logout failed');
    });
}
</script>
{% endblock %}
